# Ignore files:
# Compiled python modules.
*.zip
*.tar.gz
*.rar
*.php
*.xls
*.xlsx
*.XLS

# old Files
*.ai
*.dxf
*.txt
*.eml
*.ppt
*.dwg
*.dgn
*.cvx

# Images.
*.jpg
*.JPG
*.png
#*.gif # On en a besoin pour les dessins th2, et ce n'est pas lourd
*.tif
*.ppm
*.dxf
*.bmp
*.pcx
*.PCX
*.NEF

# Therion outputs (avec un/ ou non ?).
*.pdf
*.kml
*.kmz
*.lox
*.log
*.xml
*.html
*.sql
*.3d
*.3dmf
*.vrml
*.vtk
*.db
*.sql
*.xvi
*.log
*.dat
*.svg

# Therion shp outputs
*.dbf
*.prj
*.shp
*.shx
*.sbx
*.sbn

# LaTeX
*.aux
*.out
*.synctex.gz
*.sbn
*.sbx
*.maf
*.mtc
*.mtc0

# Descriptions
*.rtf
*.RTF
*.doc
*.docx

# GIS
*.xml
*.ovr
*.tiff
*.mxd
*.qgs
*.wpt
*.GPX
*.gpx
*.gpi
*.vrt
*.jp2
*.prn
*.dbf
*.qpj
*.trk
*.jgw
*.lyr
*.aux
*.rrd
*.img
*.xml
*.html
*.gxw
*.ini
*.dir
*.dat
*.nit
*.OO1
*.adf
*.TRO
*.swp
*.sbn
*.sdx

# Autres
*.php
*.error2
*.tar.gz
*.backup

# Folders
*Data/Moilda/Data/Moilda.th
*Data/Moilda/Data/Moilda-backup.th
!Data/Moilda/Data/Data.rst

*Data/Copines-Grotte/Data/Copines.th
!Data/Copines-Grotte/Data/Data.rst

#*/Data/Biolet-Gouffre/Data/
!/Data/Biolet-Gouffre/Data/Data.rst

# Dossiers avec les Old-files
*/OLD/
**/Old
**/Irmondiaux/Old/
**/Copines-Grotte/Old/
**/Moilda/Old/
**/Perthuis-Resurgence/Old/

# Specific files
#**/JB/JB/jb2.th

# Exceptions
!/Data/OrthoMoilda.jpg
!/Data/Moilda-Biolet.jpg

!TODO.txt
!Logos/vulcain.jpg
!Logos/vulcainpar2.jpg
!Logos/vulcainpar4.jpg
!Logos/vulcain2.jpg
!Logos/vulcain2par2.jp
!Logos/vulcain2par4.jpg



